In [1]:
import pandas as pd
import re
date_jour = '2017-12-31'
OUTPUT_PATH = '../_outputs/'
OUTPUT_PHOTOS = '../_outputs/photos/'

In [2]:
df = pd.read_excel(OUTPUT_PATH + 'chefs_{}_details.xlsx'.format(date_jour))

In [3]:
df.head(2)

,chef,total,nom,photo,valide,texte_intro,note,avis_nb,a_propos,zone_ville,zone_pays_code,langues,cuisines_types,questions
0,florent-gouverneur,14,Florent Gouverneur,https://assets3.labelleassiette.com/media/prof...,OUI,Amoureux de la gastronomie,4.333333,9,"Après une formation au lycée hôtelier de Metz,...","Lyon, France",FR,\nFrançais\n,"['Bio', 'Cocktails', 'Chef étoilé', 'Brunch', ...","['Ma cuisine est fonction de la saisonnalité, ..."
1,arnaud-bulliot,16,Arnaud Bulliot,https://assets3.labelleassiette.com/media/prof...,OUI,Les plaisirs de la table à partager !,4.207317,82,Issue d’une formation hôtelière en région pari...,"Lyon, France",FR,\nFrançais\n,"['Cocktails', 'Brunch', 'Gastronomique', 'Fami...","['Cuisine savoureuse, simple et raffinée', 'Po..."

In [4]:
df['photo'][0]

'https://assets3.labelleassiette.com/media/profile/profilpic_large_149675525412336f431acc915a1f6779d713b2ecde422.jpg'

In [5]:
import requests
def downloadPhoto(url,chef):
    r = requests.get(url)
    with open(OUTPUT_PHOTOS + chef + '.jpg', 'wb') as f:  
        f.write(r.content)

In [7]:
for index, row in df.iterrows():
    downloadPhoto(row['photo'],row['chef'])

In [9]:
df.drop('photo', axis=1, inplace=True)

In [12]:
df['photo'] = df.apply(lambda row: row['chef'] + '.jpg', axis=1)

In [18]:
df.head(2)

,chef,total,nom,valide,texte_intro,note,avis_nb,a_propos,zone_ville,zone_pays_code,langues,cuisines_types,questions,photo
0,florent-gouverneur,14,Florent Gouverneur,OUI,Amoureux de la gastronomie,4.333333,9,"Après une formation au lycée hôtelier de Metz,...","Lyon, France",FR,\nFrançais\n,"['Bio', 'Cocktails', 'Chef étoilé', 'Brunch', ...","['Ma cuisine est fonction de la saisonnalité, ...",florent-gouverneur.jpg
1,arnaud-bulliot,16,Arnaud Bulliot,OUI,Les plaisirs de la table à partager !,4.207317,82,Issue d’une formation hôtelière en région pari...,"Lyon, France",FR,\nFrançais\n,"['Cocktails', 'Brunch', 'Gastronomique', 'Fami...","['Cuisine savoureuse, simple et raffinée', 'Po...",arnaud-bulliot.jpg

In [19]:
df = df.to_excel(OUTPUT_PATH + 'chefs_{}_details_clean.xlsx'.format(date_jour))