In [1]:
import pandas as pd
import re
date_jour = '2017-12-31'
OUTPUT_PATH = '../_outputs/'

In [2]:
df = pd.read_excel(OUTPUT_PATH + 'chefs_{}_menus.xlsx'.format(date_jour))

In [3]:
df.head(2)

,chef,menu,description,tags,prices
0,florent-gouverneur,Cocktail Dinatoire,"['\nMini burgers\n', '\nMini Croque-Monsieur\n...","['Moderne', 'Français', 'Bio', 'Végétalien', '...","chef.menus[0]={prices:[],defaultPrice:'0'};che..."
1,florent-gouverneur,Du Vert Au Vers,['\nCrémeux potiron aux éclats de noisettes et...,[],"chef.menus[1]={prices:[],defaultPrice:'0'};che..."

In [4]:
test = df['prices'][9]
test

"chef.menus[2]={prices:[],defaultPrice:'0'};chef.menus[2].prices.push({from:2,to:2,ppp:111});chef.menus[2].prices.push({from:3,to:3,ppp:74});chef.menus[2].prices.push({from:4,to:4,ppp:56});chef.menus[2].prices.push({from:5,to:5,ppp:49});chef.menus[2].prices.push({from:6,to:999,ppp:49});"

In [5]:
# Patern pour prendre les prix
prices_pattern = re.compile(r"from:(\d),to:(\d+),ppp:(\d+)", re.IGNORECASE | re.DOTALL)
out = prices_pattern.findall(test)
out

[('2', '2', '111'),
 ('3', '3', '74'),
 ('4', '4', '56'),
 ('5', '5', '49'),
 ('6', '999', '49')]

In [6]:
def prices(texte,rank):
    prices = prices_pattern.findall(texte)
    try:
        output = prices[rank][2]
    except:
        output = ''
    return output

def prices2(texte):
    return prices(texte,0)

def prices3(texte):
    return prices(texte,1)

def prices4(texte):
    return prices(texte,2)

def prices5(texte):
    return prices(texte,3)

def prices6(texte):
    return prices(texte,4)

In [7]:
df['prices_2'] = df['prices'].apply(prices2)
df['prices_3'] = df['prices'].apply(prices3)
df['prices_4'] = df['prices'].apply(prices4)
df['prices_5'] = df['prices'].apply(prices5)
df['prices_6+'] = df['prices'].apply(prices6)

In [8]:
df.head()

,chef,menu,description,tags,prices,prices_2,prices_3,prices_4,prices_5,prices_6+
0,florent-gouverneur,Cocktail Dinatoire,"['\nMini burgers\n', '\nMini Croque-Monsieur\n...","['Moderne', 'Français', 'Bio', 'Végétalien', '...","chef.menus[0]={prices:[],defaultPrice:'0'};che...",35,35,35,35,35
1,florent-gouverneur,Du Vert Au Vers,['\nCrémeux potiron aux éclats de noisettes et...,[],"chef.menus[1]={prices:[],defaultPrice:'0'};che...",147,98,74,59,49
2,florent-gouverneur,Menu Découverte,"[""\nTartare de crevettes et gelée d'agrumes\n""...","['Moderne', 'Français', 'Bio', 'Sans Gluten', ...","chef.menus[2]={prices:[],defaultPrice:'0'};che...",123,82,62,49,49
3,florent-gouverneur,Menu Herbacé,"[""\nFilet de maquereau en escabèche, et coulis...","['Français', 'Automne', 'Moderne']","chef.menus[3]={prices:[],defaultPrice:'0'};che...",123,82,62,49,49
4,florent-gouverneur,Menu Automnal,['\nMéli-mélo de choux-fleurs orange girolles ...,"['Sans Gluten', 'Végétarien', 'Poisson', 'Vian...","chef.menus[4]={prices:[],defaultPrice:'0'};che...",123,82,62,49,49

In [9]:
df.drop('prices', axis=1, inplace=True)

In [10]:
df.head(2)

,chef,menu,description,tags,prices_2,prices_3,prices_4,prices_5,prices_6+
0,florent-gouverneur,Cocktail Dinatoire,"['\nMini burgers\n', '\nMini Croque-Monsieur\n...","['Moderne', 'Français', 'Bio', 'Végétalien', '...",35,35,35,35,35
1,florent-gouverneur,Du Vert Au Vers,['\nCrémeux potiron aux éclats de noisettes et...,[],147,98,74,59,49

In [11]:
# On supprimpe les sauts de ligne
def sautsLigne(texte):
    texte = str(texte)
    return texte.replace('\\n','')
df['description'] = df['description'].apply(sautsLigne)
df.head(2)

,chef,menu,description,tags,prices_2,prices_3,prices_4,prices_5,prices_6+
0,florent-gouverneur,Cocktail Dinatoire,"['Mini burgers', 'Mini Croque-Monsieur', 'Mini...","['Moderne', 'Français', 'Bio', 'Végétalien', '...",35,35,35,35,35
1,florent-gouverneur,Du Vert Au Vers,['Crémeux potiron aux éclats de noisettes et g...,[],147,98,74,59,49

In [12]:
df.to_excel(OUTPUT_PATH + 'chefs_{}_menus_clean.xlsx'.format(date_jour), index=False, header=True)