In [5]:
import glob
import pandas as pd
import collections
date_jour = '2017-12-31'
OUTPUT_PATH = '../_outputs/'

In [6]:
chefs_files = glob.glob(OUTPUT_PATH + 'chefs_{}/*.txt'.format(date_jour))
chefs_files[:5]

['../_outputs/chefs_2017-12-31/villeurbanne.txt',
 '../_outputs/chefs_2017-12-31/melun.txt',
 '../_outputs/chefs_2017-12-31/monaco.txt',
 '../_outputs/chefs_2017-12-31/la-rochelle.txt',
 '../_outputs/chefs_2017-12-31/amiens.txt']

In [7]:
c = collections.Counter()
for file in chefs_files:
    with open(file) as f:
        data = f.read()
        for line in data.splitlines():
            c.update(line.split())
test = dict(c)

In [8]:
len(test)

284

In [9]:
#test.items()
df = pd.DataFrame()

In [10]:
df = pd.DataFrame(list(test.items()), columns=['chef', 'total'])
result = df.sort_values(['chef'])
result.head(5)

                 chef  total
125    abigail-munier      9
280   adrien-demametz      3
103       alain-temin     27
203  alberto-crosetti     12
30   alessandro-caria      6

In [11]:
result.to_excel(OUTPUT_PATH + 'chefs_{}.xlsx'.format(date_jour), index=False, header=True)

In [17]:
import sqlite3
database_file = OUTPUT_PATH + 'chefs_{}.db'.format(date_jour)
table = 'index_chefs'
conn = sqlite3.connect(database_file)
df.to_sql(table, conn, if_exists="replace")